<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam quia natus ad neque necessitatibus, vero sit laudantium porro autem, laboriosam magnam maiores repellendus molestias nihil? Voluptatibus enim officia voluptas nam?</h1>
</body>
</html>